*{
		margin: 0px;
		padding: 10px;
	}

	body{
		padding: 20px;
	}

	header{
		background-color: #f99;
		grid-area: cabecera;
	}

	nav{
		background-color: #FAFB92;
		grid-area: login;
	}

	aside{
		background-color: #99f;
	}
	main{
		background-color: #9ff;
		grid-area: contenido;
	}

	footer{
		background-color: #f9f;
		grid-area: footer;
	}

.grid-container{
	display: grid;
	grid-template-areas: 
	'cabecera cabecera cabecera login'
	'. contenido contenido contenido'
	'. contenido contenido contenido'
	'. contenido contenido contenido'
	'footer footer footer footer';
	grid-gap:10px;
}

@media screen and (max-width: 500px){
	.grid-container{
		grid-template-areas: 
		'cabecera login'
		'. contenido'
		'. contenido'
		'. contenido'
		'footer footer'
		;
	}



}
