	div,footer {
			width: 1200px;
		} 

		div{
			padding: 10px 10px 10px 10px;
			background-color: #d9d9d9;
		}

		header{
			text-align: center;
			width: 1196px;
			height: 500px;
			margin-top:10px;
			background-color: #ffffff;
			padding-top: 5px;
			padding-bottom: padding-top: 5px;
		}

		main{
			margin-top:10px;
			margin-right: 10px;
			width:100%;
		}

			nav{
				background-color: #8585ad;
				margin-top:10px;
				height: 245px;
				width: 19.91%;
				display:inline-block;
			}

			article{
				border: solid 4px #8585ad;
				margin-top:10px;
				height: 216px;
				width: 77.2%;
				display: inline-block;	
				vertical-align: top;
				padding:10px 10px 10px 10px;
			}

			section{
				background-color: #808080;
				margin-top:10px;
				padding-top: 10px;
				height: 400px;
				width: 99.9%;
				margin-bottom: 10px;
				
			}

				#foto1{
					border: solid 1px #000;
					display: inline-block;
					width: 250px;
					height: 250px;
					margin-left: 120px;
				}



				#foto2{
					border: solid 1px #000;
					display: inline-block;
					width: 250px;
					height: 250px;
					margin-left: 70px;
				}

				#foto3{
					border: solid 1px #000;
					display: inline-block;
					width: 250px;
					height: 250px;
					margin-left: 70px;
				}

				.ciudad{
				display: inline-block;
				border: solid 1px #000;
				width: 150px;
				height: 40px;
				margin-left: 110px;
				margin-right: 55px;
				font-family: Arial, verdana;
				font-size: 17px;
				text-align: center;
				align-content: middle;
				background-color: #ffffff;
				}

				
			#reclamaciones{
			width: 400px;
			margin-bottom: 10px;
			display: inline-block;
			}


			#mapa {
			display: inline-block;
			align-content: top;
			margin-left: 150px;
			}

			.re{
			width: 150px;
			display: inline-block;
			margin-bottom: 10px;
			text-align: right;
			margin-right: 5px;
			font-family: arial, verdana;
			font-size: 14px;
			}

			#boton {
			margin-left: 38%;
			background-color: #8cd9b3;
			}

			.aceptacion{
			font-family: arial, verdana;
		}

		footer{
			margin-top:10px;
			height: 460px;
			background-color: #bfbfbf;
		}

		li{
			margin:auto;
			border: solid 1px #000;
			margin-bottom: 2px;
			padding: 20px 10px 10px 5px;
			overflow: hidden;
			font-family: Arial, verdana;
			font-size: 19px;
		}



		fieldset{
			width: 400px;
			margin-bottom: 10px;
			display: inline-block;
			
		}
		label{
			width: 150px;
			display: inline-block;
			margin-bottom: 10px;
			text-align: right;
			margin-right: 5px;
			font-family: arial, verdana;
			font-size: 14px;
		}

		#boton {
			margin-left: 38%;
			background-color: #8cd9b3;
		}

		h1 {
			font-family: arial, verdana;
			font-size: 20px;
		}

		.aceptacion{
			font-family: arial, verdana;
		}

		#nombre {
			font-size: 40px;
			font-family: fantasy;
		}



		.new {
			width: 100px;
			display: inline-block;
			margin-bottom: 10px;
			text-align: right;
			margin-right: 10px;
			font-family: arial, verdana;
			font-size: 15px;
		}

		#boton {
			margin-left: 40%;
			background-color: #00cc44;
			font-size: 20px;
		}

		#cargar {
			width: 340px;
			margin-bottom: 5px;
			border: 2px solid #4CAF50;
		}

		#log {
			display: inline-block;
		}


		form {
			width: 400px;
			height: 400px;
			display: inline-block;
		}